html {
  font-family: Montserrat, sans-serif;
  color: white;
}

.background-all {
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.logo-text {
  text-decoration: none;
  color: white;
}

.logo-text:hover {
  color: #999;
}

h2 {
  border-radius: 8px;
}

p {
  font-family: serif;
}

nav p {
  font-family: Montserrat, sans-serif;
  color: white;
}

img {
  border-radius: 8px;
}

.black {
  color: black;
}

.transparent {
  background-color: rgba(0, 0, 0, .5);
}

.banner-inside {
  min-height: 15rem;
  background-color: black;
  border-radius: 8px;
}

.link-box {
  border-radius: 8px;
}

.btn {
  background-color: black;
  border-color: black;
}

.btn-thin {
  padding: .1em;
}

.btn-light {
  background-color: white;
  border-color: white;
}

.img-bot {
  height: 2rem;
}

.btn-banner {
  width: 10em;
}

.home-card {
  background-color: white;
}

.tour-card {
  background-color: white;
}

.home-card h2, .tour-card h2 {
  color: white;
  background-color: black;
}

.home-card p, .tour-card p {
  color: black;
  font-family: serif;
}

.btn:hover, .home-card:hover h2 {
  background: #666;
  border-color: #666;
}

form a {
  color: white;
}

input, textarea {
  color: black;
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, .3);
}

thead th {
  color: black;
}

tbody {
  color: black;
}

tbody th {
  color: black;
  font-family: serif;
}

.feature {
  width: 7em;
}

.no {
  color: rgb(154, 6, 6);
}

footer {
  background-color: black;
}

svg {
  fill: currentColor;
}

.icon-link {
  color: white;
}

.icon-link:hover, .icon-link:focus {
  color: #999;
}

.i-paw {
  background-image: url("../images/logo-paw.svg");
}

.i-heart {
  background-image: url("../images/logo-heart.svg");
}

.i-man {
  background-image: url("../images/icon-man.svg");
}

@media only screen and (min-width: 38em) {

  .logo-text {
    width: 50%;
  }

  .nav-list {
    width: 50%;
  }

  .footer-button {
    float: left;
    padding-top: 1rem;
  }

  .pricing-card {
    height: 30rem;
  }

  .pricing-card p, .pricing-card ul {
    height: 9rem;
  }

}
